@font-face {
  font-family: 'wehkampnlscript';
  src: url('/fonts/wehkampnl-script.eot?v=1#iefix');
  src: url('/fonts/wehkampnl-script.eot?v=1#iefix') format('embedded-opentype'),
  url('/fonts/wehkampnl-script.woff?v=1') format('woff'),
  url('/fonts/wehkampnl-script.ttf?v=1') format('truetype'),
  url('/fotns/wehkampnl-script.svg?v=1') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-feature-settings: "liga" 1, "calt" 1;
  -moz-font-feature-settings: "liga" 1, "calt" 1;
  -ms-font-feature-settings: "liga" 1, "calt" 1;
  font-feature-settings: "liga" 1, "calt" 1;
}
@font-face {
  font-family: "OpenSansNormal400";
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/opensans-light-webfont.eot?v=1#iefix');
  src: url('/fonts/opensans-light-webfont.eot?v=1#iefix') format('embedded-opentype'),
  url('/fonts/opensans-light-webfont.woff?v=1') format('woff'),
  url('/fonts/opensans-light-webfont.ttf?v=1') format('truetype'),
  url('/fonts/opensans-light-webfont.svg?v=1') format('svg');
}
.User {
  &-promo {
    height: 50px;
    overflow: hidden;
    max-width: 710px;
    float: left;

    a {
      color: #fff;
      display: inline-block;
      float: left;
      font: 18px/50px wehkampnlscript;
      text-decoration: none;
      white-space: nowrap;

      &:not(:first-child):before {
        content: ' \2219 ';
        display: inline-block;
        font: 12px/50px OpenSansNormal400;
        margin: 0 15px;
      }

      sup {
        vertical-align: baseline;
      }
    }
  }

  &-account {
    box-sizing: border-box;
    float: right!important;
    height: 50px;
    line-height: 50px;

    a {
      color: #fff;
      display: inline-block;
      float: left;
      font: normal 13px/50px OpenSansNormal400;
      position: relative;
      padding: 0 30px 0 12px;
      text-decoration: none;
      white-space: nowrap;
    }

    &-login {
      &:before {
        background: #fff;
        content: '';
        display: inline-block;
        height: 16px;
        opacity: .2;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px;
        width: 1px;
      }
      &-after {
        border: 4px solid #fff;
        border-color: #fff transparent transparent transparent;
        content: '';
        display: inline-block;
        height: 0;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        right: 12px;
        width: 0;
      }
    }
  }
}