@font-face {
  font-family: 'HarrietDisplayLight';
  src: url('/fonts/f788dba4.harrietdisplaylight.eot?v=1#iefix');
  src: url('/fonts/f788dba4.harrietdisplaylight.eot?v=1#iefix') format('embedded-opentype'),
  url('/fonts/cc7bc11c.harrietdisplaylight.woff?v=1') format('woff'),
  url('/fonts/fbedb923.harrietdisplaylight.ttf?v=1') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.Title {
  width: 100%;
  font: normal 28px/1.4 HarrietDisplayLight;
  float: left;
  text-align: center;
  padding-bottom: 14px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 15px;
}
.Customizer-wrapper {
  max-width: 1190px;
  width: 1190px;
  margin: 50px auto;
  position: relative;
}
.Customizer-left {
  width: 363px;
  float: left;

  &-model {
    height: 700px;
  }
}
.Customizer-right {
  width: 726px;
  margin-left: 50px;
  border-left: 1px dashed #ddd;
  min-height: 726px;
  padding-left: 50px;
  float: left;
}