@font-face {
  font-family: 'HarrietDisplayLight';
  src: url('/fonts/f788dba4.harrietdisplaylight.eot?v=1#iefix');
  src: url('/fonts/f788dba4.harrietdisplaylight.eot?v=1#iefix') format('embedded-opentype'),
  url('/fonts/cc7bc11c.harrietdisplaylight.woff?v=1') format('woff'),
  url('/fonts/fbedb923.harrietdisplaylight.ttf?v=1') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.Title {
  width: 100%;
  font: normal 28px/1.4 HarrietDisplayLight;
  float: left;
  text-align: center;
  padding-bottom: 14px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 15px;
  margin-top: 50px;
}
.Title-outfit {
  width: 100%;
  font: normal 28px/1.4 HarrietDisplayLight;
  float: left;
  text-align: center;
  padding-bottom: 14px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 15px;
  margin-top: 50px;
  padding-left: 6vw;
}
.Customizer-wrapper {
  max-width: 1190px;
  width: 1190px;
  margin: 50px auto;
  position: relative;
}
.Customizer-left {
  width: 363px;
  float: left;

  &-model {
    height: 700px;
    float: left;
    width: 363px;
  }
}
.Customizer-right {
  width: 726px;
  margin-left: 50px;
  border-left: 1px dashed #ddd;
  min-height: 726px;
  padding-left: 50px;
  float: left;
}
.Customizer-current-category {
  width: 100%;
  float: left;
  height: 30px;
  color: black;
  text-align: center;
  margin-left: 6vw;
}
.ButtonWrapper {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  margin-top: 30px;
  padding-left: 6vw;
  float: left;
}
.Button {
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  font-size: 13px;
  outline: 0;
  text-align: center;
  vertical-align: top;
  text-decoration: none!important;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-appearance: none;
  height: 33px;
  line-height: 33px;
  display: inline;
  overflow: visible;
  width: auto;
  padding: 9px 12px;
  color: #555;
  background: #e8e8e8;
  margin-right: 10px;

  &-male {
    border-left: 1px solid #ddd;
  }

  &:hover {
    color: #fff;
    background: #707070;
  }
}
.Category-back {
  margin-left: 27.5vw;
}

.noDecoration {
	text-decoration: none;

}
