@font-face {
  font-family: 'wehkamp-icons';
  src:url('/fonts/wehkamp-icons.eot');
  src:url('/fonts/wehkamp-icons.eot?v=1#iefix') format('embedded-opentype'),
  url('/fonts/wehkamp-icons.woff?v=1') format('woff'),
  url('/fonts/wehkamp-icons.ttf?v=1') format('truetype'),
  url('/fonts/wehkamp-icons.svg?v=1#wehkamp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.Header-navigation-wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}
.Header-navigation-logo {
  width: 180px;
  height: 70px;
  float: left;

  a {
    float: left;
    height: 70px;
  }
}
.Header-navigation-logo-img {
  width: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.Header-navigation-link-wrapper {
  margin-left: 45px;
  float: left;

  a {
    float: left;
    height: 70px;

    &:first-child {
      margin-left: 0;
    }

    color: #333;
    border-bottom: 4px solid #fff;
    float: left;
    font: 12px/3 OpenSansNormal400;
    height: 32px;
    line-height: 35px;
    margin: 18px 0 0 35px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.Header-navigation {
  &-search {
    right: 275px;
    width: 340px;
    background: #fff;
    border: 1px solid #ddd;
    height: 30px;
    position: absolute;
    top: 20px;

    span {
      display: block;
      height: 0;
      overflow: hidden;
      visibility: hidden;
      width: 0;
    }

    button {
      background: -moz-linear-gradient(top,#f5f5f5,#f5f5f5);
      background-color: #f5f5f5;
      border-radius: 0;
      border: 0;
      height: 30px;
      position: absolute;
      right: 0;
      width: 36px;
    }

    [class*="icon-"] {
      font-family: 'wehkamp-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .icon {
      font-size: 17px;
      text-decoration: none!important;
      &:hover {
        background-color: #ddd;
      }
    }
    .icon-search {
      &:before {
        content: "";
      }
    }

    .icon-cross {
      right: 35px;
      font-size: 7px;

      &:before {
        content: "";
      }
    }
  }

  &-searchbox {
    background: #fff;
    border: 0;
    border-radius: 0;
    color: #333;
    font-style: italic;
    height: 26px;
    outline: 0;
    padding: 0 10px;
    width: 100%;
    -webkit-appearance: textfield;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }
}